/.git/
/.idea/
/venv/
/src/.idea/
/src/venv/

**/__pycache__/
/src/build/
/src/dist/

*.spec


/测试/
/测试jav/
/bug/
/有待更新.docx
/用前必读.txt

/src/test.py
/src/test.html
/src/*.ico
/src/*.png

*.ini
*.exe

/src/*.txt
!/src/【素人车牌】.txt